<div class="card">
    <div class="card-header">
        Edit User Details
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Role</label></td>
                        <!-- <td><p>{{user.Role}}</p></td> -->
                    </tr>
                    <tr>
                        <td><label>Name</label></td>
                        <!-- <td><p>{{user.Name}}</p></td> -->
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <!-- <td><p>{{user.email}}</p></td> -->
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <!-- <td><p>{{user.Password}}</p></td> -->
                    </tr>
                    <tr>
                      <td><label>Organisation</label></td>
                      <!-- <td><p>{{user.Organisation}}</p></td> -->
                    </tr>
                    <tr>
                      <td><label>Location</label></td>
                      <!-- <td><p>{{user.location}}</p></td> -->
                    </tr>
                    <tr>
                        <td><label>Phone</label></td>
                        <!-- <td><p>{{user.phone}}</p></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>