<h3 class="cover-heading text-center p-5">Dashboard</h3>
<div class="card-body">
    <h5 class="card-title">Submissions to be reviewed</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of items">
                    <td>{{article.itemTitle}}</td>
                    <td><button class="btn btn-success" (click)="readItem(article._id)">Review</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>