#div1 {
    justify-content: center;
    color: #fff;
}
.cover {
    padding: 4rem 1.5rem;
  }
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
#div2{
    background-color: rgb(122, 86, 106);
    justify-content: center;
    color: #fff;
}
h3{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(206, 126, 186);
}