<h3 class="cover-heading text-center p-5">Log In</h3>
<div class="row justify-content-center align-items-center">
  <div class="col-6">
<form class="container" #userlogin="ngForm" (ngSubmit)="userVerify();">
    <div class="form-group form1">
        <label for="role">Role</label>
        <select class="form-control" required [(ngModel)]="User.role" name="role" #role="ngModel" [class.is-invalid]="role.invalid && role.touched">
            <option disabled selected value>Select your role</option>
            <option>Author</option>
            <option>Reviewer</option>
            <option>Editor</option>
            <option>Publisher</option>
            <option>Admin</option>
        </select>
        <small class="text-danger" [class.d-none]="role.valid || role.untouched">Select role</small>
    </div>
    <div class="form-group form1">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="User.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required placeholder="Enter email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Not valid</small>
    </div>
    <div class="form-group form1">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="User.password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required minlength="6" required placeholder="Password">
      <small class="text-danger" [class.d-none]="password.valid">min 8 characters, 1 capital letter, small letter, number and special character</small>
    </div>
    <div class="form-group form1">
      <button type="submit" class="btn btn-primary my-3 mr-5" [disabled]="userlogin.form.invalid">Log In</button>
    </div>
  </form>
</div>
<div class="col p-5">
  <img src="../../assets/images/aboutus_bkg.png" alt="logo" class="img-fluid rounded">
</div>
</div>