<div class="card">
        <div class="card-header">
            Submission Details
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Title</label></td>
                            <!-- <td><p>{{item.itemTitle}}</p></td> -->
                        </tr>
                        <tr>
                            <td><label>Abstract</label></td>
                            <!-- <td><p>{{item.itemAbstract}}</p></td> -->
                        </tr>
                        <tr>
                            <td><label>Content</label></td>
                            <!-- <td><p>{{item.itemContent}}</p></td> -->
                        </tr>
                        <tr>
                            <td><label>Author Comments</label></td>
                            <!-- <td><p>{{item.comments_author}}</p></td> -->
                        </tr>
                        <tr>
                          <td><label>Reviwer Comments</label></td>
                          <!-- <td><p>{{item.comments_reviewer}}</p></td> -->
                        </tr>
                        <tr>
                          <td><label>Editor Comments</label></td>
                          <!-- <td><p>{{item.comments_editor}}</p></td> -->
                        </tr>
                        <tr>
                            <!-- <td><button class="btn btn-warning" (click)="editUser(user._id)">Edit</button></td>
                            <td><button class="btn btn-danger" (click)="editUser(user._id)">Delete</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  </div>