<h3 class="cover-heading text-center p-5">Dashboard</h3>
<a class="btn btn-info float-right m-2" routerLink="/add" role="button">Add new Submission</a>
<div class="card-body">
    <h5 class="card-title">Your Submissions</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of items">
                    <td>{{article.itemTitle}}</td>
                    <td><button class="btn btn-success" *ngIf="_auth.loggedIn()" (click)="readItem(article._id)">Read</button></td>
                    <td><button class="btn btn-warning" *ngIf="_auth.loggedIn()" (click)="editItem(article._id)">Edit</button></td>
                    <td><button class="btn btn-danger" *ngIf="_auth.loggedIn()" (click)="deleteItem(article._id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>