<h3 class="cover-heading text-center p-5">Register</h3>
<form class="container p-5" #usersignup="ngForm" (ngSubmit)="AddUser()">
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" required [(ngModel)]="user.Role" name="role" #role="ngModel" [class.is-invalid]="role.invalid && role.touched">
        <option disabled selected value>Select your role</option>
        <option>Author</option>
        <option>Reviewer</option>
        <option>Editor</option>
        <option>Publisher</option>
        <option>Admin</option>
    </select>
    <small class="text-danger" [class.d-none]="role.valid || role.untouched">Select role</small>
  </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="user.Name">
      </div>
    </div>
    <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Not valid</small>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" [(ngModel)]="user.Password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required minlength="6" required>
            <small class="text-danger" [class.d-none]="password.valid">min 8 characters, 1 capital letter, small letter, number and special character</small>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Organisation</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Institution" name="organisation" [(ngModel)]="user.Organisation">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Location</label>
            <input type="text" class="form-control" id="place" placeholder="Place" name="location" [(ngModel)]="user.location">
          </div>
          <div class="form-group col-md-6">
            <label for="inputZip">Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="Contact Number" name="phone" [(ngModel)]="user.phone">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="usersignup.form.invalid">Register</button>
</form>