<div class="d-inline-block d-flex h-100 p-5 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Hey, I'm Editor's Elf!</h1>
        <p class="lead">People call me Ed Elf.</p>
        <p class="lead">Be it a journal or a magazine content submission, review, editing and publishing, I'm always at your service. <br>Use me anywhere at anytime!<br> Showcase your skills at its best!</p>
        <p class="lead">
          <a routerLink="login" class="btn btn-lg btn-outline-light">Explore me!</a>
        </p>
      </main>
    </div>